.logo{
    position: absolute;
    left: 0;
    -webkit-transition: opacity .4s ease-in-out;
    -moz-transition: opacity .4s ease-in-out;
    -o-transition: opacity .4s ease-in-out;
    transition: opacity .4s ease-in-out;
}

.header-content-inner {
    padding-top: 5%;
}

@media (max-width: 420px) {
    .header-content-inner {
        padding-top: 35%;
    }
}

@media (max-width: 800px) and (min-width: 800px) {
    .header-content-inner > p {
        margin-bottom: 10px !important;
    }
}

.logo-content {
    width: 504px;
    height: 249px;
    margin: 0 auto;
    position: relative;
    margin-bottom: 5%;
}

.logo_bottom {
    opacity: 0;
}

.logo_bottom:hover {
    opacity: 1;
}

.mlh_badge {
    position:fixed;
    top:0;
    right:50px;
    max-width:100px;
    width:10%;
    min-width: 60px;
    display:block;
    z-index:10000; /* whai?? */
}
.sponsors {
    padding-bottom:10%;
}

.blklogo {
    float:none;
    margin: 0 auto;
    width: 40%;
}

.armlogo {
    float: none;
    margin: 0 auto;
    width: 70%;
}

.jpmlogo {
    float: none;
    margin: 0 auto;
    width: 35%;
}

/* Properties for typed-cursor */
.typed-cursor{
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
