.logo{
    padding-top: 5%;
    padding-bottom: 5%;
}

.mlh_badge{
    position:fixed;
    top:0;
    right:50px;
    max-width:100px;
    width:10%;
    min-width: 60px;
    display:block;
    z-index:10000; /* whai?? */
}
.sponsors{
    padding-top:5%;
    padding-bottom:10%;
}

.blklogo{
    float:none;
    margin: 0 auto;
}
