.logo{
    position: absolute;
    left: 0;
    -webkit-transition: opacity .4s ease-in-out;
    -moz-transition: opacity .4s ease-in-out;
    -o-transition: opacity .4s ease-in-out;
    transition: opacity .4s ease-in-out;
}

.header-content-inner {
    padding-top: 5%;
}

@media (max-width: 420px) {
    .header-content-inner {
        padding-top: 35%;
    }
}

@media (max-width: 800px) and (min-width: 800px) {
    .header-content-inner > p {
        margin-bottom: 10px !important;
    }
}

@media (max-width: 767px){
   .row.vertical-align { /*This is for the sponsor logos so they don't break on phones */
        display: flex;
        align-items: center;
        }
}

.logo-content {
    width: 504px;
    height: 249px;
    margin: 0 auto;
    position: relative;
    margin-bottom: 5%;
}

.logo_bottom {
    opacity: 0;
}

.logo_bottom:hover {
    opacity: 1;
}

.mlh_badge {
    position:fixed;
    top:0;
    right:50px;
    max-width:100px;
    width:10%;
    min-width: 60px;
    display:block;
    z-index:10000; /* whai?? */
}
.sponsors {
    padding-bottom:10%;
}

.blklogo {
    float:none;
    margin: 0 auto;
    width: 40%;
}

.jpmlogo, .ncrlogo {
    float: none;
    margin: 0 auto;
    width: 40%
}

.armlogo {
    float: none;
    margin: 0 auto;
    width: 50%;
}

.bloomberg_logo {
    float: none;
    margin: 0 auto;
    width: 35%;
}

.compsoclogo {
    float: none;
    margin: 0 auto;
    width: 15%;
}

.eflogo {
    float: none;
    vertical-align: middle;
    margin: 0 auto;
    max-width: 10%;
}
.p2plogo {
    float: none;
    vertical-align: middle;
    margin: 0 auto;
    max-width: 30%;
}
.cwlogo {
    float: none;
    vertical-align: middle;
    margin: 0 auto;
    max-width: 50%;
}

.reimbursements  {
    font-size:130%;

}
/* Properties for typed-cursor */
.typed-cursor{
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}

.sponsorlogos{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;

}

.sponsor-subtitle{
    margin-bottom:5%;
    font-weight:700;
}

.comic-sans * {
    font-family: "Comic Sans MS", "Comic Sans", cursive !important;
}

.airhorn{
    position: fixed;
    max-width: 5%;
}
.gitlogo{
    max-width: 40%;

}

/*Start timeline css*/
.timeline {
    position: relative;
    margin: 10px 0px;
    padding: 20px 0px;
    overflow:hidden;
}
.timeline h2 {
    color: black !important;
}

.timeline-line{
    left: 50%;
    margin-left: -3px;
    content: '';
    z-index: -1;
    position: absolute;
    top: 0;
    bottom: 0;
    width: 6px;
    background: #EEE;
    background-size: contain;
    background-repeat: repeat-y;
    background-size: cover;

}

.timeline-line::before{
    position: absolute;
    top: 0;
    left:-7px;
    content: '';
    background: #EEE;
    border-radius: 100%;
    display: inline-block;
    height: 20px;
    width: 20px;
    margin: 0;    
}

.timeline-line::after{
    position: absolute;
    bottom: 0;
    left:-7px;
    content: '';
    background: #EEE;
    border-radius: 100%;
    display: inline-block;
    height: 20px;
    width: 20px;
    margin: 0;    
}

.timeline .time-slider::before {
    left: 50%;
    margin-left: -3px;
    content: '';
    position: absolute;
    top: auto;
    height: 0%;
    width: 6px;
    background: #ED6550;
}

.timeline .timeline-block {
    padding-top: 15px;
}

.timeline .timeline-img {
    background: #FFF;
    width: 60px;
    height: 60px;
    border: 4px solid #DDD;
    padding: 15px;
    font-size: 18px;
    text-align: center;
    line-height: 18px;
    border-radius: 50%;
    position: relative;
    left: 50%;
    margin-left: -30px;
}

.timeline .timeline-img .fa {
    position: absolute;
    top: 50%;
    left: 50%; 
    -webkit-transform: translateY(-50%) translateX(-50%);
    -moz-transform: translateY(-50%) translateX(-50%);
    transform: translateY(-50%) translateX(-50%);
    font-size: 2em;
}

.timeline .timeline-content {
    position: relative;
    margin-top: -60px;
    padding: 10px 20px;
    background: #FFF;
    width: 43%;
    min-height: 80px;
    border-radius: 2px;
    border-bottom: 2px solid #EEE;
    -webkit-box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow:    0px 3px 6px 0px rgba(0, 0, 0, 0.1);
    box-shadow:         0px 3px 6px 0px rgba(0, 0, 0, 0.1);
    color: #7F7F7F;
}

    .timeline .timeline-content h1 {
        margin: 5px 0px;
        margin-bottom: 15px;
        color: #444;
        font-weight: 500;
        font-size: 25px;
    }

    .timeline .timeline-content .table {
        margin-bottom: 0px;
    }

.timeline-time {
    text-align: left;
    margin: 5px 0px;
    width: 43%;
    padding: 0px;
    padding-top: 16px;
    color: #AAA;
    margin-left: 57%;
    margin-top: -60px;
    color: #333;
}

.timeline .timeline-block.block-right .timeline-content {
    margin-left: 57%;
}
.timeline .timeline-block.block-right .timeline-time {
    margin-left: 0;
    text-align: right;
}

@media(max-width: 768px){
    .timeline::before {
        left: 20px;
        margin-left: -2px;
        width: 4px;
    }

    .timeline {
        padding: 20px 30px 40px;
    }

    .timeline .timeline-block.block-right .timeline-content {
        margin-left: 0%;
    }

    .timeline .timeline-img {
        left: 20px;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .timeline .timeline-time {
        margin-left: 60px !important;
        text-align: left !important;
        width:100% !important;
    }

    .timeline .timeline-content {
        margin-top: 10px;
        width: 100%;
        min-height: 0px;
    }
}

@media(max-width: 375px){
    .timeline {
        padding: 20px 20px 40px;
    }
}
/*End of timeline here*/


