/**
 *  H A C K    T H E    B U R G H
 *
 *  Override CSS Styles
 *
**/


body, html {
    height: 100%;
    background-color: transparent;
}

#behind, #img_background{
    background-image: url(../img/calton_hill.jpg); 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; 

    width: 100%;
    height: 100%;
    left: 0;
    right: 0;
    z-index:-1;
    position: fixed;


    -webkit-filter: blur(1px);
    -moz-filter: blur(1px);
    -o-filter: blur(1px);
    -ms-filter: blur(1px);
    filter: blur(1px);
    

}

.mlh_badge{
    position:fixed;
    top:0;
    right:50px;
    max-width:100px;
    width:10%;
    min-width: 60px;
    display:block;
    z-index:10000; /* whai?? */
}

#img_background{
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);

}


/*==================================================
 * Effect 8
 * ===============================================*/
.effect8
{
    position:relative;
    -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.5), 0 0 40px rgba(0, 0, 0, 0.1) inset;
       -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.5), 0 0 40px rgba(0, 0, 0, 0.1) inset;
            box-shadow:0 1px 4px rgba(0, 0, 0, 0.5), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}
.effect8:before, .effect8:after
{
    content:"";
    position:absolute;
    z-index:-1;
    -webkit-box-shadow:0 0 20px rgba(0,0,0,0.8);
    -moz-box-shadow:0 0 20px rgba(0,0,0,0.8);
    box-shadow:0 0 50px rgba(0,0,0,0.8);
    top:10px;
    bottom:10px;
    left:0;
    right:0;
    -moz-border-radius:100px / 10px;
    border-radius:100px / 10px;
}
.effect8:after
{
    right:10px;
    left:auto;
    -webkit-transform:skew(8deg) rotate(3deg);
       -moz-transform:skew(8deg) rotate(3deg);
        -ms-transform:skew(8deg) rotate(3deg);
         -o-transform:skew(8deg) rotate(3deg);
            transform:skew(8deg) rotate(3deg);
}


.box{
    
    background-color: #ECF1EF;
    margin-top: 0px;
    margin-right: 0px;
    margin-left: 0px;
    text-align: center;

    font-size:20px;
    font-family: "Raleway",Helvetica,Arial,sans-serif;


    margin-top:30px;
    padding-top:10px;
    padding-bottom:30px;
}

.year_title{
    text-align:center;
    font-size:36px;
}

.small-img{
    width:20%;
    display:block;
    margin: 0 auto;
    padding-bottom:20px;
}

#BlkLogo{
    padding-top:20px;
    display:block;
    margin: 0 auto;
    padding-bottom:20px;
}


::-webkit-scrollbar {
    width: 10px;
    max-width: 10px;
    height: 10px;
    max-width: 10px;
}
::-webkit-scrollbar-track {
    background: #DDD;
    -webkit-box-shadow: inset 0 0 6px rgba(255,255,255,0.5);
    box-shadow: inset 0 0 6px rgba(255,255,255,0.5);
}
::-webkit-scrollbar-thumb{
    background: #D3371E;
}
::-webkit-scrollbar-thumb:window-inactive {
    background: #D3371E;
}

::selection { background: #bfd8e7; color: inherit; }
mark, .mark { background: #9AC2D9; color: #000; }

@media print {
	a {
    	    color: #0000EE !important;
	}
	
	a[href]:after {
    	    content: "";
    	    color: #0000EE !important;
	}
	
	p a[href]:after {
	    content: " (" attr(href) ")";	
	    font-size: 90%;
	    font-weight: normal;
	}
}

.alert {
    margin: 0;
}

.btn {
    border: 0px solid transparent;
    border-bottom: 4px solid transparent;
    margin-top:20px;
}

.btn-feature {
    background-color: rgba(255, 255, 255, 0.2);
    font-weight: 800;
    font-family: "Raleway",Helvetica,Arial,sans-serif;
    margin-top: 20px;
}

    .btn-feature.btn-info {
	border-color: rgba(98, 161, 196, 0.5);
    }

.btn-hover-danger:hover,
.btn-hover-danger:active,
.btn-hover-danger:focus  {
    color: #FFF;
    background-color: #D2322D;
    border-color: #AC2925;
}

.btn-hover-success:hover,
.btn-hover-success:active,
.btn-hover-success:focus  {
    color: #FFF;
    background-color: #47A447;
    border-color: #398439;
}

.btn-hover-info:hover,
.btn-hover-info:active,
.btn-hover-info:focus  {
    color: #FFF;
    background-color: #579AC0;
    border-color: #4083A9;
}

.btn-signup {
    display: inline-block;
    width: 200px;
    margin: 0px auto;
    font-family: "Raleway", Georgia, Times, serif;
    border-color: #C73F29;
    background-color: #ED6550;
}

.card {
    margin-top: 20px;
    -webkit-box-shadow: 0px 3px 2px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow:    0px 3px 2px 0px rgba(0, 0, 0, 0.2);
    box-shadow:         0px 3px 2px 0px rgba(0, 0, 0, 0.2);
    min-height: 80px;
}

    .card-content {
        padding: 15px;
        color: #555;
        font-size: 12px;
    }

    .card-content h3 {
        font-weight: normal;
        color: #111;
    }

    .card-content aside {
        color: #888;
        padding: 5px 0px;
    }

#carousel-photostream {
    max-height: 100%;
    height: 100% !important;
    overflow: hidden;
}

#carousel-photostream .carousel-inner {
    width: 100%;
    height: 100% !important;
}

.carousel-inner .item {
    width: 100% !important;
    height: 100% !important;
}

.carousel-inner .item img {
    min-width: 100% !important;
    min-height: 100% !important;
    width: auto !important;
    height: auto !important;
    /* Push actual image off to the right... */
    padding-left: 100%;
    box-sizing: border-box;
    /* Set background up for the inline src */
    background-position: center center;
    background-size: cover;
}

.centre-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

cite {
    display: block;
    font-size: 90%;
    font-style: italic;
    color: #AAA;
    padding-top: 15px;
}

.container-fuzz {
    background: #ED6550;
    padding: 20px 40px;
    color: #F8F8F8;
    border-bottom: none;
}
.container-blue {
    background: #7EACCC;
    padding: 20px 40px;
    color: #FFF;
    border-bottom: 3px solid #4988B5;
}

    .container-fuzz a {
	color: #FFF !important;
	text-decoration: underline;
    }


    /* Screen MD */
    @media (max-width: 992px) {
	.container-fuzz,
	.container-blue {
	    padding: 20px 0px;
	}
    }

.container-gallery {
    max-height: 800px;
}


#countdown {
    text-align: center;
    font-size: 100px; /* Fallback */
    font-size: 8vmin;
    font-weight: lighter;
    font-family: "Ubuntu Mono", "Lucida Console", Monaco, monospace;
}

    /* Set maximum for largest BS breakpoint */
    @media (min-width: 1200px) {
        #countdown {
            font-size: 100px;
        }
    }


.fold-main {
    padding: 0px;
    text-align: center;
    position: relative;
    top: -50%;
    width: 25%;
    left: 50%;
    margin-left: -12.5%;
    margin-top: -12.5%;
}

    .fold-main h1,
    .fold-main h2 {
	font-weight: normal;
	text-shadow: 0px 0px 8px #EEE;
    }

    .htb-logo {
        display: block;
        width: 50%;
        margin: 0px auto;
    }

    /* Screen MD */
    @media(max-width: 991px){
        .fold-main {
	    width: 40%;
            margin-left: -20%;
            margin-top: -20%;
	}
    }

    /* Screen XS */
    @media (max-width: 480px) {
	.fold-main {
	    width: 75%;
            margin-left: -37.5%;
            margin-top: -37.5%;
	}
    }

.fold-wrapper {
    background-color: #000;
    height: 100%;
}


footer {
    background: #EEE;
    font-size: normal;
    font-weight: 200;
    color: #888;
    padding: 5px 0px;
    border-top: 3px solid #DDD;
    width:100%;
    padding-left: 20px;
    padding-right: 20px;
}

.email{
    position:absolute;
    right:30px;
}

.section{
    width:100%;
    background-color: #ECF1EF; //match the colour of the floating box
    font-family: "Raleway",Helvetica,Arial,sans-serif;
    margin-bottom:5%;
    padding-bottom:2%;
}

.mugshot{
    width:20%;
    text-align: center;
    display: block;
    margin-top: 5%;
    margin-bottom: 5%;

}

.google-maps {
    position: relative;
    padding-bottom: 25%; // This is the aspect ratio
    height: 0;
    overflow: hidden;
    max-height: 400px;
}
    .google-maps iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100% !important;
        height: 100% !important;
    }

@media(max-width: 768px){
    .google-maps {
	padding-bottom: 65%;
    }
}

.go-top {
    /* Initially hidden, shown by JS: */
    display: none;
    position: fixed;
    bottom: 15px;
    right: 15px;
    width: 80px;
    height: 80px;
    z-index: 1000;
    background: #ED6550;
    -webkit-border-radius: 50%;
       -moz-border-radius: 50%;
        -ms-border-radius: 50%;
	 -o-border-radius: 50%;
    border-radius: 50%;
    -webkit-box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.5);
    -moz-box-shadow:    0px 3px 8px 0px rgba(0, 0, 0, 0.5);
    box-shadow:         0px 3px 8px 0px rgba(0, 0, 0, 0.5);
    text-align: center;
    color: #FFF;
}

    .go-top a {
	color: inherit;
	font-weight: bold;
	display: block;
	padding: 20px;
    }
    .go-top a:hover,
    .go-top a:focus {
	text-decoration: none;
	color: inherit;
    }

    .go-top:hover {
	color: #FFF;
	/*background: #D2271E;*/
	-webkit-box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.7);
	-moz-box-shadow:    0px 4px 12px 0px rgba(0, 0, 0, 0.7);
	box-shadow:         0px 4px 12px 0px rgba(0, 0, 0, 0.7);
    }

    .go-top .glyphicon {
	display: block;
	font-size: 20px;
    }

@media(max-width: 768px){
    .go-top {
	width: 60px;
	height: 60px;
	right: 10px;
	bottom: 10px;
    }
}
@media print {
	.go-top {
		display: none;
		opacity: 0;
	}
}

header {
    padding: 10px 0px;
    overflow: hidden;
    background: #FFF;
}

    header img {
	max-height: 45px;
	max-width: 80%;
	display: block;
	margin: auto;
    }

    @media (max-width: 480px) {
	
	header img {
	    width: 250px;
	    height: auto;
	}

	header {
	    height: auto;
	}
    }

hr {
    border-color: #ED6550;
    border-top-width: 5px;
}


iframe {
	border: 0 !important;
}

.iframe-responsive {
    position: relative;
    padding-bottom: 56.25%;
    /* YouTube only: 
    padding-top: 35px;*/
    height: 0;
    overflow: hidden;
}

    .iframe-responsive iframe {
	position: absolute;
	top:0;
	left: 0;
	width: 100%;
	height: 100%;
    }


.iframe-feature {
    width: 100%;
}

    /* Screen LG */
    @media (max-width: 2500px) {
	.iframe-feature {
	    width: 60%;
	}
    }

    /* Screen MD */
    @media (max-width: 992px) {
	.iframe-feature {
	    width: 80%;
	}
    }

    /* Screen SM */
    @media (max-width: 768px) {
	.iframe-feature {
	    width: 90%;
	}
    }

    /* Screen XS */
    @media (max-width: 480px) {
	.iframe-feature {
	    width: 100%;
	}
    }


.img-sponsor {
    padding: 15px 30px;
    display: inline;
    max-width: 100%;
    height: 80px;
    vertical-align: middle;
}


.jumbo {
    display: block;
    font-size: 50px;
    padding: 30px 20px;
    margin: 0;
    text-align: center;
}

    .jumbo-inv {
	color: #FFF;
    }

    /* Screen XS */
    @media (max-width: 480px) {
	.jumbo {
	    padding: 20px 10px;
	    margin: 0;
	    font-size: 35px;
	}
    }


.jumbotron p,
.jumbotron h1,
.jumbotron h2,
.jumbotron h3 {
    font-weight: 400;
}

.jump-anchor {
    display: block;
    visibility: hidden;
}

.navbar {
    margin-bottom: 0px;
    border: none;
    -webkit-box-shadow: 0px 1px 6px 0px rgba(0, 0, 0, 0.2);
       -moz-box-shadow: 0px 1px 6px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 1px 6px 0px rgba(0, 0, 0, 0.2);
}

    @media (max-width: 992px){
	.navbar .container {
	    width: 100%;
	}
    }

    @media (max-width: 768px){
	.navbar {
	    min-height: 50px;
	}
    }

.navbar-collapse {
    max-height: 500px;
}

.navbar-default .navbar-toggle {
    color: #FFF;
    background-color: #ED6550;
    border-color: #D2271E;
}

    .navbar-default .navbar-toggle .icon-bar {
	background-color: #FFF;
    }
    
    .navbar-default .navbar-toggle:hover,
    .navbar-default .navbar-toggle:focus {
	background-color: #C54F3D;
	border-color: #D3371E;
    }

    .navbar-default .navbar-nav>li>a:hover,
    .navbar-default .navbar-nav>li>a:focus {
	background-color: rgba(0, 0, 0, 0.02);
    }

    .navbar-collapse, 
    .navbar-form {
	border: 0;
    }

/* Screen SM */
@media (max-width: 768px){
    .navbar-toggle {
	margin-top: 8px;
	margin-bottom: 8px;
    }
}

.padder {
    padding: 20px 40px;
}

.pager {
    margin: 0;
    padding: 40px 0px 20px 0px;
}

    .pager li > a {
	border-radius: 3px;
	color: #444;
    }


.post-wrap {
    padding: 20px 0px;
}

    .post-wrap + .post-wrap {
	border-top: 5px solid #EEE;
	margin-top: 20px;
	padding-top: 40px;
    }

.post-title {
    font-size: 45px;
    margin-top: 5px;
}


    .post-title a:hover,
    .post-title a:focus {
	text-decoration: none;
    }

.post-meta {
    color: #888;
    font-size: 12px;
}


.readmore-js-toggle {
    display: block;
    padding: 10px;
    border-radius: 0px;
}


.ribbon {
    position: absolute;
    width: 80px;
    height: 80px;
    background: url('../img/winner-ribbon.png');
    background-position: top left;
    background-repeat: no-repeat;
}


.timeline {
    position: relative;
    margin: 10px 0px;
    padding: 20px 0px;
}

.timeline::before {
    left: 50%;
    margin-left: -3px;
    content: '';
    position: absolute;
    top: auto;
    height: 100%;
    width: 6px;
    background: #EEE;
}

.timeline .time-slider::before {
    left: 50%;
    margin-left: -3px;
    content: '';
    position: absolute;
    top: auto;
    height: 0%;
    width: 6px;
    background: #ED6550;
}

.timeline .timeline-block {
    padding-top: 15px;
}

.timeline .timeline-img {
    background: #FFF;
    width: 60px;
    height: 60px;
    border: 4px solid #DDD;
    padding: 15px;
    font-size: 18px;
    text-align: center;
    line-height: 18px;
    border-radius: 50%;
    position: relative;
    left: 50%;
    margin-left: -30px;
}

.timeline .timeline-content {
    position: relative;
    margin-top: -60px;
    padding: 10px 20px;
    background: #FFF;
    width: 43%;
    min-height: 80px;
    border-radius: 2px;
    border-bottom: 2px solid #EEE;
    -webkit-box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow:    0px 3px 6px 0px rgba(0, 0, 0, 0.1);
    box-shadow:         0px 3px 6px 0px rgba(0, 0, 0, 0.1);
    color: #7F7F7F;
}

    .timeline .timeline-content h1 {
        margin: 5px 0px;
        margin-bottom: 15px;
        color: #444;
        font-weight: 500;
        font-size: 25px;
    }

    .timeline .timeline-content .table {
        margin-bottom: 0px;
    }

.timeline-time {
    margin: 5px 0px;
    width: 43%;
    height: 60px;
    padding: 0px;
    padding-top: 16px;
    color: #AAA;
    margin-left: 57%;
    margin-top: -60px;
    font-size: 20px;
    color: #333;
}

.timeline .timeline-block.block-right .timeline-content {
    margin-left: 57%;
}
.timeline .timeline-block.block-right .timeline-time {
    margin-left: 0;
    text-align: right;
}

@media(max-width: 768px){
    .timeline::before {
        left: 20px;
        margin-left: -2px;
        width: 4px;
    }

    .timeline {
        padding-left: 0px;
    }

    .timeline .timeline-block.block-right .timeline-content {
        margin-left: 0%;
    }
    .timeline .timeline-block.block-right .timeline-time {
        margin-left: 60px;
        text-align: left;
    }

    .timeline .timeline-img {
        left: 20px;
    }

    .timeline .timeline-time {
        margin-left: 60px;
    }

    .timeline .timeline-content {
        margin-top: 10px;
        width: 100%;
        min-height: 0px;
    }
}

/*** Ti.to Styles ***/

tito-button {
    display: inline-block;
    width: 100%;
    margin: 10px auto;
}

.tito-tickets-button {
    display: inline-block;
    padding: 10px 45px;
    margin: 0px auto;
    font-family: "Raleway", Georgia, Times, serif;
    border: 0;
    border-bottom: 3px solid #C73F29;
    background-color: #ED6550;
    color: #FFF;
    font-size: 18px;
    border-radius: 4px;
}

.tito-tickets-button:focus,
.tito-tickets-button:hover {
    background-color: #d2322d;
    background-color: #ac2925;
}

.signup-wrap {
    margin-top: 40px;
    margin-bottom: 15px;
    width: 100%;
    text-align: center;
}


/*** GCS Styles ***/

.gsc-input-box {
    height: 30px !important;
}
.gsc-search-button {
    height: 30px !important;
    width: 72px !important;
}
.gsc-control-cse {
    max-height: 75px !important;
    overflow: hidden;
    padding: 17px 5px !important;
}
.gsc-input-box {
    border-radius: 3px;
}
.gsc-input {
    background: none !important;
}
