  <aside class="bg-dark">
        <div class="container text-center">
            <div class="row">
                <h1>F.A.Q</h1>
            </div>
                        <div class="row">
                  <div class="col-sm-6">
                <h2>What is "Hack the Burgh"?</h2>
                <p>Hack the Burgh is a hackathon where students come together, team up and collaborate to build cool stuff with data and challenges provided by our sponsors. Also home to the top Uni Werewolf team in the UK!</p>
                  </div>
                  <div class="col-sm-6">
                <h2>How much does it cost?</h2>
                <p><strong>Hack the Burgh is completely free to attend.</strong> However, tickets are extremely limited and are only available on a first-come-first-serve basis. We recommend that you register your interest as soon as possible so you can get the heads up when they come online the quickest</p>
                  </div>
                </div><!-- /.row -->

                <div class="row">
                  <div class="col-sm-6">
                <h2>Do I need to have a team beforehand?</h2>
                <p>You're welcome to make a team before the event. But loads of people come without a team. At the start of the event, we'll help everyone find a team. Your team members can be from other Universities. One of the best things about hackathons is meeting hackers from all over the country.</p>
                  </div>
                  <div class="col-sm-6">
                <h2>I've never written a line of code. Help?</h2>
                <p>Even more the reason to come! We'll have mentors on site to show you the ropes, and you'll probably get picked up by a team of hackers who can teach you a whole load in a short amount of time. Everyone is friendly and ready to help. Just be ready for some intense learning!</p>
                  </div>
                </div><!-- /.row -->

                <div class="row">
                  <div class="col-sm-6">
                <h2>Hackawho?</h2>
                <p>A hackathon is a ~24 hour long programming event. Hundreds of passionate students come together, form teams, share ideas, and help each other build innovative applications. It's a fantastic opportunity to meet new people, learn from mentors, and make cool stuff. They're very beginner friendly. Everybody is there to help each other and have fun. Check <a href="https://medium.com/hackathons-anonymous/wtf-is-a-hackathon-92668579601">this out</a> for more info.</p>
                <h2>So what's MLH?</h2>
                <p>MLH Is Major League Hacking - A university hackathon league designed to empower and help hackathons be bigger and better than ever. There are MLH hacks all around the country, so if you can't come to HTB then there are loads more to check out.</p>
                  </div>
                  <div class="col-sm-6">
                <div class="embed-responsive embed-responsive-16by9">
                  <iframe class="embed-responsive-item" src="//www.youtube.com/embed/3NYHIxF6IEU" frameborder="0" allowfullscreen></iframe>
                </div>
                  </div>
                </div><!-- /.row -->

                <div class="row">
                  <div class="col-sm-6">
                    <h2>Does everyone on my team have to be from the same Uni?</h2>
                    <p>Nope! In fact we encourage people to try and collaborate with people from different places and backgrounds - it often makes for more interesting hacks and is an awesome way of meeting people.</p>

                    <h2>How accessible is the venue?</h2>
                    <p>The venue is fully wheelchair accessible, with lifts, wide corridors and a refuge room. If you have absolutely any questions about accessibility, we want to hear them so we can make sure we're doing our job properly, so please get in touch by emailing <a href="mailto:hello@hacktheburgh.com">hello@hacktheburgh.com</a>.</p>
                  
                    <h2>Can I nap at the venue?</h2>
                    <p>Sure! But where's the fun in that? (Note: Napping is good for you)</p>
                    
                  </div>
                  <div class="col-sm-6">
                <h2>What do I need to bring?</h2>
                <p>To get into the event, you'll need to bring suitable ID. If you're a participant aged 18 or over, you'll need to bring a valid student card. If you're under 18, a volunteer, or a sponsor, you'll need to bring either a passport, driving license, PASS card (including Young Scot cards), or a student card. <strong>If you do not have suitable ID you will not be allowed into the event.</strong></p>

                <p>A laptop is pretty much essential... Some adventurous types bring desktops although there's not nearly enough space for everyone to do that. Probably a phone charger, assorted cables and anything else for electronics you're bringing. Warm and comfortable clothes, given the amount of time you're at the event... Toiletries and a change of clothes are important too! (Also please don't bring extension leads - The power system won't be able cope with more load). There <strong>will</strong> be engineers and recruiters from a bunch of companies here as well so if you're looking for a Job or Internship you might consider touching up your CV.</p>
                  </div>
                </div><!-- /.row -->

                <div class="row">
                    <div class="col-sm-6">
                        <h2>How big can my team be?</h2>
                        <p>Teams can be any size up to four people - Over that and you're not eligible for any of the prizes. Remember that smaller teams will have to do more per head than larger teams.</p>
                    </div>
                    <div class="col-sm-6">
                        <h2>Is there going to be a schedule?</h2>
                        <p>A schedule will be released soon (probably)</p>
                    </div>
                </div><!-- /.row -->

                <div class="row">
                  <div class="col-sm-6">
                <h2>Who Can Attend?</h2>
                <p>MLH Hacks are open to any student currently enrolled in full time further education (University). <strong>People who graduated less than a year ago (after March 2015) are also eligible.</strong>.</p>

                <p>Anybody between 14 and 18 years old (even if you're still at school or have left full time education) is also eligible to attend, though if you're under 16 you'll need to <a href="mailto:hello@hacktheburgh.com">contact us</a>. If you're under 18, you'll need to send us a completed <a href="{{site.url}}/static/parental-consent.pdf">parental consent form</a> and fill in our <a href="https://docs.google.com/forms/d/10pXpBd3EP9Rol9G2GLw3YYY0k60SZXbiaN7nvhg-ImM/viewform">medical information form</a> by 16th March. We also have a <a href="{{site.url}}/static/safeguarding-policy.pdf">child safeguarding policy</a> and <a href="{{site.url}}/static/safeguarding-assessment.pdf">child safeguarding assessment</a> that you should let your parent/guardian see.</p>
                  </div>
                  <div class="col-sm-6">
                <h2>Food?!</h2>
                <p>The event is fully catered - we'll be providing Lunch, Dinner, Midnight Pizza, Breakfast and Lunch to hackers. Also aiming for a stream of Tea, Coffee and snacks to keep you going through the night.</p>
                  </div>
                </div><!-- /.row -->

                <div class="row">
                  <div class="col-sm-6">
                <h2>Hardware Hacks</h2>
                <p>We are super excited to be able to have a ton of hardware available to hack on - Oculus rifts, Leap motions, Thalmic Myos, Pebble smart watches and a ton of ARM processors! We'd just ask that people don't bring soldering irons, heat guns and other power tools, as those will almost certainly soak people with the sprinkler system and we may not get invited back next year :(.</p>
                  </div>
                  <div class="col-sm-6">
                <h2>Free Stash/Merch/Swag?</h2>
                <p>Yeah, we'll bet! You can expect t-shirts, stickers and other freebies at the hack. Most of our sponsors and partners will be bringing along a heap of stash just for you.</p>
                  </div>
                </div><!-- /.row -->

                <div class="row">
                  <div class="col-sm-6">
                <h2>Can I work on an existing project?</h2>
                <p>Sorry, nope. We require teams that want to be eligible for prizes don't write a single line of code before the hack. This is cheating and won't go down well with the other teams - unless you don't want to compete but where's the fun in that?!</p>
                  </div>
                  <div class="col-sm-6">
                <h2>Code of Conduct</h2>
                <p>MLH is dedicated to providing a fun, harassment-free experience for everyone. We expect all of our attendees, sponsors, volunteers, and staff to be respectful and considerate of others. They are all required to agree with <a href="http://hackcodeofconduct.org/majorleaguehacking">this code of conduct.</a> You should read this code. Organisers will enforce it throughout the event.</p>
                  </div>
                </div><!-- /.row -->

                <div class="row">
                  <div class="col-sm-6">
                <h2>Transport</h2>
                <p>We are now very happy to be offering travel reimbursements courtesy of Bloomberg! Remember please be reasonable with your requests and bring receipts!</p>
                <p>If you're arriving by train, I've prepared a handy map for you <a href="https://goo.gl/maps/4fXtn1pkU3k">here</a></p>
                  </div>
                  <div class="col-sm-6">
                <h2>Can I sponsor this event?</h2>
                <p>Yeah! We'd really appreciate anyone who wants to help make the hack possible reaching out. Hackathons are awesome for those that hack but also a really great platform to display who you are and what you do to a bunch of students that are clearly showing they love to make cool stuff. Just send an email to <a href="mailto:hello@hacktheburgh.com">hello@hacktheburgh.com</a></p>
                  </div>
                </div><!-- /.row -->

                <div class="row">
                  <div class="col-sm-6">
                    <h2>Can I take photos at the event?</h2>
                    <p>Absolutely! However, you'll need to make sure you're following our <a href="{{site.url}}/static/photography.pdf">photography policy</a>, which you should read before the event.</p>
                    <p>If you want to opt out of having your photo taken, you'll be able to do that at registration before the event starts.</p>
                  </div>

                  <div class="col-sm-6">
                    <h2>Do you have gender neutral toilets?</h2>
                    <p>Yes. We will have male, female, accessible and gender neutral toilets.</p>
                  </div>
                </div><!-- /.row -->
        </div>
  </aside>
