<section class="bg-primary" id="about">
    <div class="container">
        <div class="row container">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">All made possible by:</h2>
                <hr class="light">
                <div class="sponsors">
                    <div class="row">
                        <div class="col-sm-12">
                            <h2 class="sponsor-subtitle">Official Host:</h2>
                            <div class="row" style="vertical-align:middle;float:none;">
                                <div class="col-sm-12">
                                    <img class="blklogo img-responsive" src="{{site.url}}/img/blackrock_large.png" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr class="light">
                    <div class="row">
                        <div class="row">
                            <div class="sponsorlogos">
                                <div class="col-xs-6">
                                    <img class="armlogo img-responsive" src="{{site.url}}/img/arm_logo.png" />
                                </div>
                                <div class="col-xs-6">  <img class="img-responsive ncrlogo" src="{{site.url}}/img/ncr_logo.png" />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="sponsorlogos">
                                <div class="col-xs-6">
                                    <img class="img-responsive jpmlogo" src="{{site.url}}/img/jpm_logo.png" />
                                </div>
                                <div class="col-xs-6">
                                    <img class="img-responsive ncrlogo" src="{{site.url}}/img/GitHub_Logo.png" />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="sponsorlogos">
                                <div class="col-xs-6">
                                    <img src="{{site.url}}/img/ef_logo.png" class="img-responsive eflogo" />
                                </div>
                                <div class="col-xs-6">
                                    <img src="{{site.url}}/img/cwlogo.png" class="img-responsive cwlogo" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr class="light">
                    <div class="row">
                        <h2 class="sponsor-subtitle">Run by:</h2>
                        <div class="row">
                            <div class="col-sm-12">
                                <img src="{{site.url}}/img/compsoc_logo.png" class="img-responsive compsoclogo" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 text-center">
                <a id="sponsor_call_to_action" onclick="ga('send', 'event', 'sponsors', 'sponsorship_click');" href="mailto:hello@hacktheburgh.com" class="btn btn-default btn-xl">Want to get on the list?</a>
            </div>
        </div>
    </div>
</section>
