<head>

  <title>{{ site.title }} - {{ page.title }}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" href="{{ site.baseurl }}/img/logo-web-icon.jpg" type="image/jpg">
  <link href="http://fonts.googleapis.com/css?family=Raleway:400,300,700" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="{{ site.baseurl }}/css/bootstrap.min.css">
  <link rel="stylesheet" href="{{ site.baseurl }}/css/override.css">
  
  <meta name="description" content="{{ site.description }}">
  <meta name="theme-color" content="#ED6550">
  
  <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script type="text/javascript" src="{{ site.baseurl }}/js/readmore.min.js"></script>
  <script type="text/javascript" src="{{ site.baseurl }}/js/bootstrap.min.js"></script>

</head>
