<header>
    <div class="header-content">
        
        <div class="header-content-inner">
            <div class="logo-content img-responsive">
                <img class="logo logo_top img-responsive" src="{{site.url}}/static/img/htblogo2016_color.png">
                <img class="logo logo_bottom img-responsive" src="{{site.url}}/static/img/htblogo2016_color.png">
            </div>
            
            <br />
        </div>
    </div>

    <h2>The hackathon from beyond the wall will be returning soon&trade;.</h2>
</header>
