<!-- jQuery -->
<script src="js/jquery.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="js/bootstrap.min.js"></script>

<!-- Plugin JavaScript -->
<script src="js/jquery.easing.min.js"></script>
<script src="js/jquery.fittext.js"></script>
<script src="js/wow.min.js"></script>
<script src="js/typed.js"></script>
<script src="js/custom.js"></script>
<script src="js/clippy.min.js"></script>
<script type="text/javascript" src="http://www.cornify.com/js/cornify.js">

<!-- Custom Theme JavaScript -->
<script src="js/creative.js"></script>
<script>
    $(function() { // used typed.js
        $('.typed').typed({
            strings: ["Hacj Th", "Hack The Burgh - 2016"],
            typeSpeed: 80
        });
    });
</script>
