<!-- jQuery -->
<script src="{{site.url}}/static/js/jquery.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="{{site.url}}/static/js/bootstrap.min.js"></script>

<!-- Plugin JavaScript -->
<script src="{{site.url}}/static/js/jquery.easing.min.js"></script>
<script src="{{site.url}}/static/js/jquery.fittext.js"></script>
<script src="{{site.url}}/static/js/wow.min.js"></script>
<script src="{{site.url}}/static/js/typed.js"></script>

<!-- Custom Theme JavaScript -->
<script src="{{site.url}}/static/js/creative.js"></script>
<script>
    $(function() { // used typed.js
        $('.typed').typed({
            strings: ["Hacj Th", "Hack The Burgh-2016"],
            typeSpeed: 80
        });
    });
</script>
