<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Everything you'll need to know!</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-calendar wow bounceIn text-primary"></i>
                    <h3>When?</h3>
                    <p class="text-muted">Taking place on <b>19th March to 20th</b></p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-map-marker wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>Where?</h3>
                    <p class="text-muted">BlackRock Edinburgh HQ!</p>
                    <p class="text-muted">Exchange Place One, 1 Semple Street, EH3 8BL</p>
                    <br/>
                    <a id="map" href="https://goo.gl/maps/r2uSs7hJXHD2" target="_blank" class="btn btn-primary btn-sm page-scroll">Map!</a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-users wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3>Can I help?</h3>
                    <p class="text-muted">We're currently looking for volunteers! If you think you can help please sign up here:</p>
                    <br/>
                    <a id="volunteer" onclick="ga('send', 'event', 'registration', 'volunteered');" href="http://goo.gl/forms/5xptgMfVid" target="_blank" class="btn btn-primary btn-sm page-scroll">Signup!</a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-gbp wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3>Sponsor us!</h3>
                    <p class="text-muted">Does your company want to make an impact and help out the hack scene?</p>
                    <br/>
                    <a id="sponsor" onclick="ga('send', 'event', 'sponsors', 'sponsorship_click');" href="mailto:hello@hacktheburgh.com" target="_blank" class="btn btn-primary btn-sm page-scroll">Email us!</a>
                </div>
            </div>
        </div>
    </div>
</section>
