<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Everything you'll need to know!</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-calendar wow bounceIn text-primary"></i>
                    <h3>When?</h3>
                    <p class="text-muted">Taking place on <b>19th March to 20th</b></p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-map-marker wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>Where?</h3>
                    <p class="text-muted">BlackRock Edinburgh HQ!</p>
                    <p class="text-muted">Exchange Place One, 1 Semple Street, EH3 8BL</p>
                    <br/>
                    <a id="map" href="https://goo.gl/maps/r2uSs7hJXHD2" target="_blank" class="btn btn-primary btn-sm page-scroll">Map!</a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i style="color:grey;" class="fa fa-4x fa-users wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3>Can I help?</h3>
                    <p class="text-muted">Thanks for your interest, but we've filled all our volunteer positions.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-gbp wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3>Sponsor us!</h3>
                    <p class="text-muted">Does your company want to make an impact and help out the hack scene?</p>
                    <br/>
                    <a id="sponsor" onclick="ga('send', 'event', 'sponsors', 'sponsorship_click');" href="mailto:hello@hacktheburgh.com" target="_blank" class="btn btn-primary btn-sm page-scroll">Email us!</a>
                </div>
            </div>
        </div>
    </div>
    <hr />
    <div class = "container text-center">
        <h2 class="text-center">Coming along today? We've prepared a survival guide that's got all the information you need today!<h2>
        <a style="margin:auto;"href="/static/hacktheburgh-guide.pdf" class="btn btn-primary btn-sm page-scroll">Here!</a>
    </div>
    <hr />
    <div class="container text-center">
        <h2>Travel Reimbursements are out!</h1>
        <table class="table reimbursements">
            <thead>
                <tr >
                    <th style="text-align:center;">Location: </th>
                    <th style="text-align:center;">Reimbursement amount: </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Scotland (Excl, Edinburgh)</td>
                    <td style="color:red">£20</td>
                </tr>
                <tr>
                    <td>North England + Midlands</td>
                    <td style="color:orange">£40</td>
                </tr>
                <tr>
                    <td>Southern England + EU</td>
                    <td style="color:green">£50</td>
                </tr>
            </tbody>
        </table>
        <p>For all those who have tickets please send proof of ticket purchase and price to:</p>
<a id="travel_reimbursement" onclick="ga('send', 'event', 'travel', 'travel_reimbursement');" href="https://docs.google.com/forms/d/1cqTTh4V8eBiLU7sgbhP8JDab3F_EU9Yq2-i1RZYLp_I/viewform" target="_blank" class="btn btn-primary btn-sm page-scroll">Travel Reimbursements!</a>
    </div>
</section>
