<section id="timeline">
    <div class ="container text-center">
        <h1>Timetable!</h1>
        <p>Here's all the awesome stuff we got lined up for you for the weekend!</p>
  <div class="timeline">
    <div class="timeline-line"></div>


    <div class="timeline-block">
      <div class="timeline-img" style="border-color: #5cb85c;">
        <span class="glyphicon glyphicon-hourglass">
      </div>
      <h1 class="timeline-time">10:00 Sat</h1>
      <div class="timeline-content">
        <h1>Doors Open</h1>
        <p>We will begin registration, please make sure you have photo ID and your ticket details (On a phone etc. is fine.)</p>
      </div>
    </div><!-- .timeline-block -->


    <div class="timeline-block block-right">
      <div class="timeline-img" style="border-color: #5cb85c;">
        <span class="glyphicon glyphicon-bullhorn">
      </div>
      <h1 class="timeline-time">11:00 Sat</h1>
      <div class="timeline-content">
        <h1>Welcome Talks</h1>
        <p>Opening presentations on Hack details, API presentations and Challenge pitches and a word from our kind host, Blackrock!</p>
      </div>
    </div><!-- .timeline-block -->


    <div class="timeline-block">
      <div class="timeline-img" style="border-color: #5bc0de;">
        <span class="glyphicon glyphicon-cutlery">
      </div>
      <h1 class="timeline-time">12:00 Sat</h1>
      <div class="timeline-content">
        <h1>Hacking Starts!</h1>
        <p>Get hacking! You only have 24hrs to get your next big idea ready for presentation! An informat team building session will also be run at this time, so those without a team can work together</p>
      </div>
    </div><!-- .timeline-block -->


    <div class="timeline-block block-right">
      <div class="timeline-img" style="border-color: #5cb85c;">
        <span class="glyphicon glyphicon-console">
      </div>
      <h1 class="timeline-time">13:00 Sat</h1>
      <div class="timeline-content">
        <h1>Lunch!</h1>
        <p>For some probably the first meal of the day!</p>
      </div>
    </div><!-- .timeline-block -->



    <div class="timeline-block">
      <div class="timeline-img" style="border-color: #f0ad4e;">
        <span class="glyphicon glyphicon-calendar">
      </div>
      <h1 class="timeline-time">14:00 Sat</h1>
      <div class="timeline-content">
        <h1>Talks and Workshops!</h1>
        <p>Come along to a whole bunch of workshops led by professionals. Want to learn to use Git? Or want to give your final presentation some flash? This is the next few hours for you!</p>
      </div>
    </div><!-- .timeline-block -->



    <div class="timeline-block block-right">
      <div class="timeline-img" style="border-color: #5bc0de;">
        <span class="glyphicon glyphicon-cutlery">
      </div>
      <h1 class="timeline-time">18:00 Sat</h1>
      <div class="timeline-content">
        <h1>Dinner!</h1>
        <p>Selection of Hot foods will be available.</p>
      </div>
    </div><!-- .timeline-block -->



    <div class="timeline-block">
      <div class="timeline-img" style="border-color: #f0ad4e;">
        <span class="glyphicon glyphicon-calendar">
      </div>
      <h1 class="timeline-time">20:00 Sat</h1>
      <div class="timeline-content">
        <h1>Musical Code (an event by Bloomberg)</h1>
        <p>An interesting take on musical chairs, but with code. What could go wrong?</p>
      </div>
    </div><!-- .timeline-block -->


    <div class="timeline-block block-right">
      <div class="timeline-img" style="border-color: #f0ad4e;">
        <span class="glyphicon glyphicon-calendar">
      </div>
      <h1 class="timeline-time">22:00 Sat</h1>
      <div class="timeline-content">
        <h1>Let the Movies Begin!</h1>
        <p>Tired of hacking? In these next few hours enjoy some movie masterpieces (and maybe mean girls), as voted by you!</p>
      </div>
    </div><!-- .timeline-block -->


    <div class="timeline-block">
      <div class="timeline-img" style="border-color: #5bc0de;">
        <span class="glyphicon glyphicon-cutlery">
      </div>
      <h1 class="timeline-time">00:00 Sun</h1>
      <div class="timeline-content">
        <h1>Midnight Pizza!</h1>
        <p>
        We're getting a large order of Pizza in to keep you going through the night!
        <br/>
        <small>(Veggie pizza will be available, vegans come chat to us)</small>
        </p>
      </div>
    </div><!-- .timeline-block -->



    <div class="timeline-block block-right">
      <div class="timeline-img" style="border-color: #5bc0de;">
        <span class="glyphicon glyphicon-cutlery">
      </div>
      <h1 class="timeline-time">00:30 Sun</h1>
      <div class="timeline-content">
        <h1>Werewolf</h1>
        <p>Welcome to Edinburgh! Home of the world famous werewolf team, founded at HackNotts but made famous by us! For the next hour come pretend to be villagers in a silly-ily named town - but beware for the night is certainly dark...</p>
      </div>
    </div><!-- .timeline-block -->


    <div class="timeline-block">
      <div class="timeline-img" style="border-color: #d9534f;">
        <span class="glyphicon glyphicon-console">
      </div>
      <h1 class="timeline-time">01:00 Sun</h1>
      <div class="timeline-content">
        <h1>GameFest!</h1>
        <p>Have your apetite whetted by Werewolf? Or missed out and wanna try your luck again? Well, for the next few hours gather found various cardboard boxes and roll dice! We're playing board games! But good ones, none of that monopoly to be found here.</p>
      </div>
    </div><!-- .timeline-block -->


    <div class="timeline-block block-right">
      <div class="timeline-img" style="border-color: #5bc0de;">
        <span class="glyphicon glyphicon-cutlery">
      </div>
      <h1 class="timeline-time">04:00 Sun</h1>
      <div class="timeline-content">
        <h1>Snacks!</h1>
        <p>You're on the home stretch now! Have a last injection of sugar to keep you going just a little longer!</p>
      </div>
    </div><!-- .timeline-block -->


    <div class="timeline-block">
      <div class="timeline-img" style="border-color: #5cb85c;">
        <span class="glyphicon glyphicon-blackboard">
      </div>
      <h1 class="timeline-time">09:00 Sun</h1>
      <div class="timeline-content">
        <h1>Breakfast!</h1>
        <p>Good morning to those who got some sleep! Otherwise well done for making it the whole night!</p>
      </div>
    </div><!-- .timeline-block -->


    <div class="timeline-block block-right">
      <div class="timeline-img" style="border-color: #5cb85c;">
        <span class="glyphicon glyphicon-star">
      </div>
      <h1 class="timeline-time">12:00 Sun</h1>
      <div class="timeline-content">
        <h1>Lunch! (Again)</h1>
        <p>Last meal we're responsible for! But you better eat quick, only got an hour to go!</p>
      </div>
    </div><!-- .timeline-block -->

    <div class="timeline-block">
      <div class="timeline-img" style="border-color: #5cb85c;">
        <span class="glyphicon glyphicon-blackboard">
      </div>
      <h1 class="timeline-time">13:00 Sun</h1>
      <div class="timeline-content">
        <h1>Stop Hacking!</h1>
        <p>Hands of you keyboards! (Yes you, I see you over there). Congratulations! Whether it's your first hack or not I hope you've enjoyed your time here with us and made something cool</p>
      </div>
    </div><!-- .timeline-block -->


    <div class="timeline-block block-right">
      <div class="timeline-img" style="border-color: #d9534f;">
        <span class="glyphicon glyphicon-hourglass">
      </div>
      <h1 class="timeline-time">14:00 Sun</h1>
      <div class="timeline-content">
        <h1>Presentations!</h1>
        <p>Here's where you get to strut your stuff, show off what you've made and convince our Dragons(they don't bite) you deserve a prize!</p>
      </div>
    </div><!-- .timeline-block -->

    <div class="timeline-block">
      <div class="timeline-img" style="border-color: #d9534f;">
        <span class="glyphicon glyphicon-hourglass">
      </div>
      <h1 class="timeline-time">16:00 Sun</h1>
      <div class="timeline-content">
        <h1>Prizes!</h1>
        <p>Hold your breath, this is when the prizes are awarded. Even if you don't manage to get anything you're all still winners in my eyes!</p>
      </div>
    </div><!-- .timeline-block -->

    <div class="timeline-block block-right">
      <div class="timeline-img" style="border-color: #d9534f;">
        <span class="glyphicon glyphicon-hourglass">
      </div>
      <h1 class="timeline-time">17:00</h1>
      <div class="timeline-content">
        <h1>Doors Close</h1>
        <p>Yeh, sling yer 'ook. No, but seriously thanks for coming! The amount of interest this year was staggering - I just hope we lived up to your expectations and hope to see you again next year!</p>
      </div>
    </div><!-- .timeline-block -->


  </div><!-- .timeline -->
  </div>
    </section>
