---
layout: page
title: Blog
---

<ol class="breadcrumb">
  <li class="active">Jump to:</li>
  {% for post in paginator.posts %}
  <li><a href="#{{ post.title | xml_escape }}">{{ post.title }}</a></li>
  {% endfor %}
</ol>

{% for post in paginator.posts %}
<a name="{{ post.title | xml_escape }}"></a>
<div class="post-wrap">
  <h1 class="post-title"><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h1>
  <p class="post-meta">
    <span class="date">{{ post.date | date: "%b %-d, %Y" }}</span>
  </p>
  <div class="post-content">
    {{ post.content }}
  </div>
</div>
{% endfor %}

{% if paginator.total_pages > 1 %}
<ul class="pager">
  
  {% if paginator.next_page %}
  <li class="previous"><a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}"><span class="glyphicon glyphicon-chevron-left"></span> Older</a></li>
  {% else %}
  <li class="previous disabled"><a><span class="glyphicon glyphicon-chevron-left"></span> Older</a></li>
  {% endif %}
  
  {% if paginator.previous_page %}
  <li class="next"><a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">Newer <span class="glyphicon glyphicon-chevron-right"></span></a></a>
  {% else %}
  <li class="next disabled"><a>Newer <span class="glyphicon glyphicon-chevron-right"></span></a></li>
  {% endif %}
</ul>
{% endif %}
